body {
  margin: 0;
  text-align: center;
  position: relative;
}

div {
  height: 100%;
  width: 100%;
}
.upper-p {
  position: absolute;
  top: 30%;
  right: 39%;
  margin: 0 auto;
  font-family: 'Indie Flower', cursive;
  font-size: 140%;
  display: inline-block;
  padding-top: 5%;

}

.upper-container {
  background-color: #41aea9;
  padding-top: 30%;
  padding-bottom: 10%;
  padding-left: 0;
  padding-right: 0;
  position: relative;

  height: 100%;
  width: 100%;
}

#impakiza {
  top: 19%;
  right: 39%;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  display: block;

}

h1 {
  position: absolute;
  top: 100px;
  right: 43%;
  margin: 0 auto;
  font-family: 'Amatic SC', cursive;
  font-size: 500%;
  display: inline-block;
  padding-top: 5%;
  color: #213e3b;
}

h2 {
  color: #213e3b;
  font-family: 'Ubuntu', sans-serif;
  margin-top: 100px;
  padding-top: 5%;

}
#abtme {
  margin-top:0;
}

h3 {
  color: #41aea9;
  font-family: 'Ubuntu', sans-serif;
  margin-top: 30px;
  margin-bottom: 5px;
}

.bottom-cloud {
  position: absolute;
  left: 20%;
  top: 33%;
  margin: 0 0 0 0;
  display: inline-block;
  padding: 0;

}

.top-cloud {
  position: absolute;
  display: block;
  margin: 0;
  top: 10%;
  right: 22%;
}

.mountain {
  position: sticky;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
  bottom: 2%;
  width: 50%;
}


.middle-container {
  position: relative;
  background-color: #e8ffff;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}
.bottom-container {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 3px;
  padding-top: 0;
  background-color: #a6f6f1;
}
.profile-pic {
  height: 200px;
  border-radius: 100%;
  margin-top: 5%;
}

.edu-pic {
  height: 200px;
  position: sticky;
}
#divex {
  border-radius: 100%;
  height:12.5rem;
  width: 12.5rem;
  background-color: #a6f6f1;
  position: relative;
  padding: 30px;
}
.work-ex {
  height: 200px;
  vertical-align: top;
}
.award {
  height: 200px;
  border-radius: 100%;
  margin-top: 5%;
  background-color: #a6f6f1;
}
.project-pic {
  height: 200px;
  }
.tech-skills {
  height: 200px;
  position: sticky;
}
.lang-skills {
  height: 200px;
  position: sticky;
}

.profile {
    background-color: #e8ffff;
    margin: 0;
}

.skills-table {
  text-align: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}
hr {
  margin-top: 2%;
  border-style: none;
  border-color: #41aea9;
  background-color: #e8ffff;
  position: sticky;
  border-top: 5px dotted #41aea9;
  height: 8px;
  width: 10%;
  margin-left: auto;
  margin-right: auto;
}

.about-me-p {
  padding-bottom: 5%;
  font-family: 'Ubuntu', sans-serif;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

.skill-row {
  margin: 0;
  padding-bottom: 10%;
}

p {
  font-family: 'Ubuntu', sans-serif;
  line-height: 30px;
  margin-bottom: 70px;
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
}

td {
  padding: 5%;
}

.table-left {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.table-right {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.right-text {
  text-align: left;

}
.right-icon {
  text-align: left;
  vertical-align: top;
  padding-top: 200px;
  padding-right: 60px;
  padding-left: 40px;
}
.rigmar {
  margin-left: 0;
}
.left-text {
  text-align: left;
  padding-left: 100px;
}
.left-icon {
text-align: center;
vertical-align: top;
padding-top: 200px;
padding-right: 60px;
}
.contact-me {
  background-color: #a6f6f1;
  margin-bottom: 0;
}
.hobbies {
  position: relative;
  padding-top: 20px;
  padding-bottom: 100px;
  height: 100%;
  width: 100%;

  }

 .hob1 {
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
    position: absolute;
    display: inline-block;
    }
  .hob2{
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
    position: absolute;
    display: inline-block;
    }
  .hob3 {
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
    position: absolute;
    display: inline-block;
  }
.painting {
  height:70%;
  position: sticky;

}
.photography {
  height:70%;
  position: sticky;

}
.sleeping {
  height:70%;
  position: sticky;

}
.getintouch {
  padding-top: 3%;
}
.btn {
     -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   height: 50px;
   line-height: 50px;
   color: #FFFFFF;
   font-family: 'Ubuntu', sans-serif;
   width: 200px;
   font-size: 18px;
   font-weight: 600;
   padding: 0;
   background-color: #0081AF;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}
.footer-img {
  padding: 10px;
  height: 30px;
  width: 30px;
  padding-top: 30px;
}
.copyright {
  color: #41aea9;
}
.buttskill {
  margin-top: 6px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
   height: 30px;
   color: #FFFFFF;
   font-family: Tahoma;
   font-size: 15px;
   font-weight: 400;
   padding: 5px;
   background-color: #3D95F6;
   -webkit-box-shadow: 0 0 3px 0 #000000;
   -moz-box-shadow: 0 0 3px 0 #000000;
   box-shadow: 0 0 3px 0 #000000;
   text-shadow: 0 1px 20px #000000;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}
.inside {
  text-align: center;
  width: 50%;
}
.contme {
  font-family: 'Ubuntu', sans-serif;
  margin: 10px;
  margin-bottom: 30px;
}
#urmess {
  margin-top: 10px;
}
#yourmess {
  margin-bottom: 10px;
}
.getintouch {
  margin: 0;
}
input[type=text]{
  width: 200px;
  height: 35px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  margin: 10px;
}
input[type=button], input[type=submit], input[type=reset] {

   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   height: 40px;

   color: #FFFFFF;
   font-family: Open Sans;
   width: 100px;
   font-size: 18px;
   font-weight: 600;
   padding: 0;
   background-color: #0081AF;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin-bottom: 30px;
  }

textarea {
  width: 70%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  margin: 10px;
}
.extendicon {
  margin-top: 50px;
  height: 200px;
  border-radius: 100%;
  width: 200px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  align-self: center;
  background-color: #e8ffff;

  }

.imgicon {
  position: sticky;
  margin-top: 20px;
  height: 150px;
}
#h2mar {
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  }
